@import url("https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@300&family=Montserrat&display=swap");
@import "./scss/scssComponents/variables";

:root {
  font-family: Montserrat;
  background-color: var(--white);
  --white: #ffffff;
  --primary: #113a5a;
  --secondary: #2194ec;

  --dark: #040404;
  --darkone: #666666;
  --darktwo: #b2b2b2;

  --gray: #f8f8f8;
  --grayone: #f2f2f2;
  --graytwo: #e0e0e0;
  --graytext: #c0c0c0;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.app.modal-open {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  padding-right: 15px;
  @include sm {
    padding-right: 0px;
  }
}
.app {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  @include flex(column);

  .app_navbar {
    z-index: 10000;
    height: 116px;
    background-color: $white;
    @include sm {
      height: 63px;
    }
  }

  .app_children {
    user-select: none;
    // min-height: 100vh;
    width: 100%;
  }
  .app_footer {
    width: 100%;
  }

  // components
  @import "./scss/components/navbar";
  @import "./scss/components/general";
  @import "./scss/components/sidebar";
  @import "./scss/components/footer";
  @import "./scss/components/modal";
  @import "./scss/components/carousel";
  @import "./scss/components/skeleton";

  // pages
  @import "./scss/pages/homepage";
  @import "./scss/pages/info";

  @import "./scss/pages/contact";

  //forms
  @import "./scss/pages/forms";

  //feeds
  @import "./scss/pages/feeds";
  @import "./scss/pages/projects";

  //dashboard
  @import "./scss/pages/dashboard";
}
