& .arch_logo {
  @include full-flex($align: center, $flow: row);
  @include sm {
    margin-left: -15px;
  }

  & :nth-child(1) {
    width: 60px;
    height: 60px;
    @include sm {
      margin-right: -10px;
    }
  }
  & :nth-child(2) {
    width: 87px;
    height: 18px;
  }
}
