& .arch_logo {
  @include full-flex($align: center, $flow: row);
  @include sm {
    margin-left: -15px;
  }

  & :nth-child(1) {
    width: 60px;
    height: 60px;
    @include sm {
      margin-right: -10px;
    }
  }
  & :nth-child(2) {
    width: 87px;
    height: 18px;
  }
}

& .arch_arrow {
  cursor: pointer;
  @include full-flex(center, center, row);
  @include strip-list;
  gap: 15px;
  font-size: 1.7rem;
  font-weight: 400;
  color: $secondary;
  text-decoration: none;
}
& .arch_arrow.primary {
  text-decoration: none;
  color: $primary;
}

& .arch_arrow.secondary {
  color: $secondary;
}
