& .nav_container {
  width: 100%;
  @include flex(column);

  & .nav_logo {
    @include full-flex($align: center, $flow: row);
  }

  & .nav_desktop {
    user-select: none;
    position: fixed;
    width: 100%;

    @include flex(column);
    @include sm {
      display: none;
    }

    & .nav_primary {
      user-select: none;
      background-color: $white;
      width: 100%;
      height: 63px;
      @include full-flex(center, space-between, row);
      @include borderbox;
      padding-right: 60px;
      padding-left: 73px;

      & ul {
        @include full-flex($align: center, $flow: row);
        @include strip-list;
        text-transform: uppercase;
        gap: 55px;

        & .nav_primarylink {
          @include strip-list;
          font-size: 1.2rem;
          font-weight: 600;
          color: $dark;
          transition: 0.3s ease-in-out;
          cursor: pointer;
          & a {
            @include strip-list;
            color: $dark;
          }

          & :hover {
            color: $secondary;
            transition: 0.3s ease-in-out;
          }
        }
      }

      & .nav_primaryform {
        @include full-flex($align: center, $flow: row);
        // background-color: yellow;
        height: 200px;

        & .nav_primaryformbtn {
          @include full-flex($align: center, $flow: row);
          text-transform: uppercase;
          font-size: 1.2rem;
          gap: 30px;
          font-weight: 600;

          & :nth-child(1) {
            list-style-type: none;
            cursor: pointer;
          }

          & button {
            color: $dark;
            background: none;
            border: none;
            outline: none;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 14.63px;
            text-align: left;
            text-transform: uppercase;
          }
          & .nav_primaryout {
            color: $primary;
            transition: 0.3s ease-in-out;
            &:hover {
              color: $secondary;
              transition: 0.3s ease-in-out;
            }
          }

          & .nav_primaryjoin {
            color: $primary;
            border-radius: 48px;
            height: 35px;
            width: 77px;
            border: 1px solid $primary;
            @include full-flex(center, center, row);
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover {
              color: $secondary;
              border: 1px solid $secondary;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }

    & .nav_sec {
      user-select: none;
      height: 54px;
      background-color: $dark;
      width: 100%;
      @include full-flex(center, center, row);
      color: $white;
      gap: 53px;

      .nav_secarch {
        color: $gray-text;
        font-weight: 600;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-decoration: none;
        @include flex(column);
        transition: 0.3s ease-in-out;
        & :hover {
          color: $secondary;
          transition: 0.3s ease-in-out;
        }
        & .nav_secarrow {
          @include full-flex($align: center, $flow: row);
          gap: 20px;
          padding-left: 20px;
          cursor: pointer;

          & a {
            @include strip-list;
            color: $white;

            &:hover {
              color: $secondary;
            }
          }
        }

        & .nav_secdrop {
          @include borderbox;
          position: absolute;
          margin-top: 49px;
          margin-left: 20px;
          overflow: hidden;
          text-transform: lowercase;
          height: 84px;
          width: 189px;
          border-radius: 4px;
          @include flex(column);
          box-shadow: 0px 2px 2px 0px $dark;

          & .nav_secdroptext {
            width: 100%;
            height: 42px;
            @include borderbox;
            @include full-flex(center, center, row);

            & button {
              font-size: 1.2rem;
              cursor: pointer;
              @include borderbox;
              @include clear-btn;
              color: $dark-one;
              padding-left: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;
              width: 100%;
              height: 100%;
              background-color: $white;
              &:hover {
                background-color: $gray;
              }
            }
          }
        }
      }

      & .nav_seccart {
        & span {
          background-color: $secondary;
          position: absolute;
          margin-left: 20px;
          margin-top: -5px;
          height: 13px;
          width: 13px;
          border-radius: 50%;
          @include full-flex(center, center, row);
          font-size: 1rem;
          color: $dark;
        }
        & svg {
          color: $gray-text;

          & :hover {
            color: $secondary;
            transition: 0.3s ease-in-out;
          }
        }
      }

      & .nav_secinput {
        & .navinput-container {
          position: relative;
          display: flex;
          align-items: center;

          .navinput {
            width: 0px;
            height: 0px;
            border-radius: 3px;
            @include clear-btn;
            font-size: 1.5rem;
            display: none;
            cursor: pointer;

            & ::placeholder {
              color: transparent;
            }
          }
          & .expanded {
            color: $gray-text;
            background: none;
            border-bottom: 1px solid $primary;
            transition: 0.3s ease-in-out;
            display: flex;
            height: 40px;
            width: 700px;
            cursor: text;
            padding-left: 35px;
            margin-left: 35px;

            & ::placeholder {
              color: $dark-two;
              opacity: 1;
            }
          }
          & .expanded + .navicon {
            display: none;
            border: none;
          }

          & .navicon {
            position: absolute;
            left: 0px;
            height: 25px;
            width: 25px;
            pointer-events: auto;
            cursor: pointer;
            transition: 0.3s ease-in-out;
          }

          & .exp_navicon {
            color: $gray-text;
            position: absolute;
            left: 42px;
            height: 25px;
            width: 25px;
            pointer-events: auto;
            cursor: pointer;

            & :hover {
              color: $secondary;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
  & .nav_mobile {
    display: none;
    @include sm {
      @include borderbox;
      width: 100%;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      background-color: $white;
      @include full-flex(center, space-between, row);
      height: 63px;
    }

    & .nav_mobham {
      @include sm {
        margin-left: 3px;
      }

      @include flex(row);
      align-items: center;
      gap: 0px;
    }
    & .nav_mobnavs {
      & .nav_mobtool {
        @include sm {
          margin-right: 7px;
        }
        @include flex(row);
        align-items: center;
        gap: 17px;

        & button {
          @include clear-btn;
          @include full-flex(center, center, row);
          font-size: 2rem;
          color: $dark-one;

          &:focus {
            color: $secondary;
          }

          & .nav_mobcart {
            background-color: $secondary;
            position: absolute;
            margin-left: 14px;
            margin-top: -17px;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            @include full-flex(center, center, row);
            font-size: 10px;
            color: $dark;
          }
        }

        & :nth-child(3) {
          font-size: 2.2rem;
        }
      }
      & .nav_mobform {
        gap: 25px;
        @include full-flex($align: center, $flow: row);
        // @include strip-list;

        & button {
          @include clear-btn;
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 600;
          color: $dark;

          &:focus {
            color: $secondary;
          }
        }
      }
    }

    & .nav_mobsearch {
      @include full-flex(center, center, column);
      height: 60px;
      width: 100%;
      position: absolute;
      top: 66px;
      left: 0px;

      & .nav_sch {
        border-radius: 4px;
        @include borderbox;
        padding-left: 10px;
        padding-right: 10px;
        box-shadow: 9px 11px 33px -14px rgba(0, 0, 0, 0.63);
        background-color: $gray;
        height: 100%;
        width: 98.5%;
        @include flex(row);
        align-items: center;
        & .nav_schinput {
          gap: 5px;
          background-color: $gray;
          width: 82%;
          height: 100%;
          @include full-flex(center, space-between, row);
          & svg {
            width: 10%;
            font-size: 2rem;
          }
          & input {
            @include clear-btn;
            font-size: 1.3rem;
            color: $primary;
            width: 90%;
            height: 80%;

            &::placeholder {
              color: $primary;
            }
          }
        }

        & .nav_schbtn {
          @include full-flex(center, space-between, row);
          // background-color: red;
          gap: 10px;
          & svg {
            color: $dark-one;
            font-size: 2.2rem;
          }
          & svg:hover {
            color: $secondary;
          }
          width: 18%;
        }
      }
    }

    & .nav_moblinks {
      top: 64.5px;
      position: absolute;
      left: 0px;
      width: 100%;

      & .navlink_container {
        width: 65%;
        height: 100%;
        background-color: $gray;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.34);

        & .navlink_map {
          width: 100%;
          @include flex(column);
          & .navlink_icon {
            width: 100%;
            @include flex(row);
            @include borderbox;
            @include strip-list;
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;
            text-transform: uppercase;
            height: 47px;
            border-bottom: 1px solid $gray-two;
            gap: 16px;
            font-size: 1.2rem;
            font-weight: 600;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;

            & img {
              width: 1.2rem;
              height: 1.2rem;
            }
            & a {
              @include strip-list;
              color: $dark-one;
            }
            & svg {
              color: $secondary;
            }
          }

          & .navlink_drop {
            width: 100%;
            border-bottom: 1px solid $gray-two;
            @include flex(column);
            padding-left: 60px;
            padding-right: 20px;
            align-items: center;
            @include borderbox;
            text-transform: uppercase;

            font-size: 1.2rem;
            font-weight: 600;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: left;
            & p {
              height: 47px;
              margin: 0px;
              padding: 0px;
              width: 100%;
              color: $dark-one;
              @include flex(row);
              align-items: center;
            }
          }
        }
      }
    }

    & .nav_mobaccount {
      top: 64.5px;
      position: absolute;
      left: 0px;
      width: 100%;

      & .nav_mobacc {
        margin-left: auto;
        width: 50%;
        background-color: $gray;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.34);

        & button {
          width: 100%;
          @include flex(row);
          align-items: center;
          color: $dark-one;
          gap: 15px;
          height: 50px;
          font-size: 1.3rem;
          font-weight: 500;
          line-height: 14.63px;
          text-align: left;
          @include borderbox;
          @include clear-btn;
          padding-left: 20px;
          text-transform: uppercase;
          transition: 0.3s ease-in-out;
          &:focus {
            transition: 0.3s ease-in-out;
            color: $secondary;
            background-color: $primary;
          }
        }
      }
    }
  }
}
