& .dashboard {
  @include flex(column);
  align-items: center;
  min-height: 100vh;
  margin-bottom: 200px;

  & .dashboard_head {
    @include center(column);
    align-items: center;
    & .dashboard_mainnav {
      @include center(row);
      margin: 0px 0px;
      height: 80px;
      font-size: 1.8rem;
      font-weight: 600;
      color: $secondary;
      text-transform: uppercase;
      @include sm {
        gap: 10px;
      }
      & svg {
        display: none;
        @include sm {
          display: block;
        }
      }
    }
    & .dashboard_mobilenav {
      display: none;
      // @include center(column);

      @include sm {
        @include center(row);
        align-items: center;
        width: 100%;
        position: absolute;
      }

      & p {
        width: 100%;
        margin-top: 70px;
        @include center(row);
        gap: 10px;
        font-size: 1.5rem;
        color: $secondary;
      }

      & ul {
        width: 50%;
        @include strip-list;
        height: auto;
        padding: 0px 0px;
        padding-bottom: 0px;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        margin-top: 270px;
        transition: 0.3s ease-in-out;
        background-color: $gray;
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.15);
        & li {
          @include flex(row);
          @include strip-list;
          @include borderbox;
          transition: 0.3s ease-in-out;
          align-items: center;
          border-radius: 2px;
          width: 100%;
          height: 41px;
          padding-left: 25px;
          & a {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: left;
            color: $dark-one;
            cursor: pointer;
          }

          &:hover {
            background-color: $secondary;
            transition: 0.3s ease-in-out;
            & a {
              color: $white;
            }
          }
        }
      }
    }
  }
  & .dashboard_display {
    @include flex(row);
    // background-color: yellow;
    width: 93%;
    position: relative;
    @include sm {
      width: 100%;
      @include flex(column);
    }
    & .dashboard_side {
      @include sm {
        position: absolute;
        width: 100%;
        align-items: center;
        margin-top: -15px;
      }
      @include flex(column);
      width: 20%;
      padding: 0px 0px;
    }

    & .dashboard_child {
      min-height: 510px;
      width: 80%;
      @include sm {
        width: 100%;
        @include flex(column);
        align-items: center;
      }
    }
  }
}

& .dash_sidebar {
  width: 100%;
  background-color: $primary;
  border-top-left-radius: 5px;
  @include sm {
    display: none;
    width: 70%;
    border-radius: 5px;
    background-color: $gray;
  }
  & h1 {
    @include sm {
      display: none;
    }
    @include borderbox;
    padding-left: 30px;
    font-size: 1.7rem;
    color: $white;
    margin-top: 0px;
    height: 54px;
    width: 100%;
    @include flex(row);
    align-items: center;
    border-bottom: 1px solid $secondary;
  }

  & ul {
    padding-top: 10px;
    padding-bottom: 10px;
    @include borderbox;
    padding-left: 30px;
    @include flex(column);
    width: 100%;
    gap: 15px;

    & li {
      @include strip-list;
      & a {
        font-size: 1.6rem;
        color: $white;
        @include flex(row);
        align-items: center;
        gap: 15px;
        transition: 0.3s ease-in-out;
        @include sm {
          color: $primary;
        }

        & .dash_sidenotif {
          @include borderbox;
          @include center(row);
          background-color: $secondary;
          color: $white;
          font-size: 1.2rem;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          margin-right: 25px;
          margin-left: auto;
        }
      }
      & a:hover {
        color: $secondary;
        transition: 0.3s ease-in-out;
        // & svg {
        //   color: $secondary;
        // }
      }
    }
  }
}

& .dash_stat {
  border-top-right-radius: 5px;
  width: 100%;
  @include sm {
    width: 87%;
    border: none;
    padding: 0px 0px;
  }
  border: 1px solid $gray-two;
  min-height: 500px;
  @include borderbox;
  padding: 35px 40px 20px 40px;

  & .dash_statmap {
    width: 100%;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
    & .dash_statdata {
      cursor: pointer;
      height: 143px;
      background-color: $gray;
      @include center(row);
      gap: 24px;
      border-radius: 10px;
      transition: 0.3s ease-in-out;
      & svg {
        color: $primary;
        font-size: 4.5rem;
      }
      & p {
        @include flex(column);
        gap: 20px;
        & :nth-child(1) {
          width: 150px;
          color: $dark-one;
          font-size: 1.7rem;
          font-weight: 600;
          margin-top: 15px;
        }
        & :nth-child(2) {
          color: $primary;
          font-weight: 700;
          font-size: 2.5rem;
          margin-top: -5px;
        }
      }
    }

    & .dash_statdata:hover {
      background-color: $primary;
      transition: 0.3s ease-in-out;

      & svg {
        color: $secondary;
      }

      & p {
        & :nth-child(1) {
          color: $gray-text;
        }
        & :nth-child(2) {
          color: $gray-text;
        }
      }
    }
  }
}

& .dash_profile {
  border-top-right-radius: 5px;
  width: 100%;

  @include sm {
    width: 90%;
    border: none;
    padding: 0px 0px;
  }
  border: 1px solid $gray-two;
  min-height: 500px;
  @include borderbox;
  padding: 45px 40px 40px 65px;

  & .dash_profavatar {
    @include sm {
      @include center(column);
    }
    & .dash_profimg {
      height: 152px;
      width: 152px;
      border-radius: 50%;
      background-color: $primary;
      cursor: pointer;
    }
    & p {
      width: 152px;
      text-align: center;
      font-weight: 500;
      font-size: 1.4rem;
      color: $secondary;
      margin-top: 15px;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
    & p:hover {
      color: $primary;
      transition: 0.3s ease-in-out;
    }
  }
  & .dash_profmap {
    margin-top: 10px;
    padding-left: 20px;

    & .dash_profdata {
      margin-bottom: -7px;
      font-size: 1.6rem;
      padding: 0px 0px;
      @include sm {
        font-size: 1.5rem;
      }
      & div {
        @include flex(row);
        align-items: center;

        & p {
          & :nth-child(1) {
            font-weight: 600;
            color: $primary;
            margin-left: 5px;
            margin-right: 20px;
            width: 200px;
          }

          & :nth-child(2) {
            color: $dark-one;
          }

          & input {
            width: 220px;
            font-size: 1.5rem;
            outline: none;
            border: none;
            color: $dark-one;
            border-bottom: 1px solid $dark-one;
          }
        }

        & .dash_profedit {
          @include clear-btn;
          @include flex(row);
          cursor: pointer;
          align-items: center;
          gap: 10px;
          margin-left: auto;
          margin-right: 200px;
          color: $secondary;
          font-size: 1.5rem;
          transition: 0.3s ease-in-out;
          @include sm {
            margin-top: 30px;
            margin-right: 0px;
          }
        }
        & .dash_profedit:hover {
          color: $primary;
          transition: 0.3s ease-in-out;
        }
      }
    }

    & .dash_profdata::marker {
      @include center(column);
      font-size: 1.9rem;
      color: $primary;
    }
  }

  & .dash_profchange {
    padding: 8px 10px;
    border: 1px solid $gray-text;
    font-weight: 400;
    font-size: 1.6rem;
    color: $primary;
    border-radius: 5px;
    background-color: $white;
    margin-top: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  & .dash_profchange:hover {
    background-color: $primary;
    color: $white;
  }

  & .dash_profskeleton {
    @include sm {
      @include center(column);

      & .MuiStack-root {
        @include center(column);
      }
    }
  }
}

& .dash_portfolio {
  border-top-right-radius: 5px;
  width: 100%;
  @include sm {
    width: 93%;
    border: none;
    padding: 0px 0px;
  }
  border: 1px solid $gray-two;
  min-height: 500px;
  @include borderbox;
  padding: 35px 40px 20px 40px;

  & .dash_porttitle {
    font-weight: 500;
    font-size: 1rem;
    color: $primary;
    @include sm {
      @include center(column);
      width: 100%;
      text-align: center;
    }
  }

  & .dash_portcoverimg {
    margin-top: 20px;
    width: 285px;
    height: 183px;
    margin-bottom: 20px;
    @include sm {
      width: 100%;
    }
  }

  & .dash_portbtn {
    padding: 8px 10px;
    border: 1px solid $gray-text;
    font-weight: 400;
    font-size: 1.6rem;
    color: $primary;
    border-radius: 5px;
    background-color: $white;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    @include sm {
      margin-top: 25px;
      width: 100%;
    }
  }

  & .dash_portbtn:hover {
    background-color: $primary;
    color: $white;
  }

  & .dash_portbtn:disabled {
    background-color: rgb(194, 194, 194);
    color: gray;
  }
}

& .dash_pages {
  border-top-right-radius: 5px;
  width: 100%;
  overflow: hidden;

  @include sm {
    width: 100%;
    border: none;
    padding: 0px 0px;
  }
  border: 1px solid $gray-two;
  min-height: 500px;
  padding: 0px 0px;
  @include borderbox;
  & .dash_pagesnav {
    margin-top: 0px;

    width: 100%;
  }

  & .dash_pageschild {
    width: 100%;
  }
}

& .dash_navbar {
  width: 100%;
  height: 54px;
  background-color: $gray;
  @include flex(row);
  @include sm {
    display: none;
  }
  & .dash_navbarmap {
    margin: 0px 0px;
    @include flex(row);
    // align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 35px;
    margin-left: -7px;

    & li {
      margin-top: auto;
      // background-color: red;
      @include center(row);
      @include borderbox;
      padding: 8px 10px;
      height: 90%;
      transition: 0.3s ease-in-out;
      & a {
        font-size: 1.5rem;
        font-weight: 500;
        @include strip-list;
        color: $primary;
        transition: 0.3s ease-in-out;
      }
      & a:hover {
        transition: 0.3s ease-in-out;
        color: $secondary;
      }
    }

    & .active {
      background-color: white;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      transition: 0.3s ease-in-out;
      & a {
        color: rgba(33, 148, 236, 1);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

& .dash_postnew {
  @include borderbox;
  @include flex(column);
  gap: 15px;
  padding: 35px 40px 20px 40px;
  @include sm {
    padding: 0px 10px 20px 10px;
  }
  & .dash_postnewdnd {
    height: 200px;
  }

  & .dash_postnewbtn {
    @include flex(row);
    align-items: center;
    gap: 20px;

    @include sm {
      margin-top: 20px;
      @include flex(column);

      & .arch_button {
        font-size: 1.5rem;
        width: 100%;
        padding: 0px 0px;
        height: 48px;
      }
      // & .arch_button.primary {
      //   font-size: 1.5rem;
      //   width: 100%;
      //   padding: 0px 0px;
      //   height: 48px;
      // }
    }
  }
}

& .dash_statuspage {
  margin-bottom: 20px;
  > div {
    &:nth-child(even) {
      background-color: $gray;
      height: 70px;
    }

    &:nth-child(odd) {
      background-color: $white;
      height: 70px;
    }
  }

  & .arch_paginate {
    background-color: $white !important;
  }

  & .dash_statusskeleton {
    @include borderbox;
    padding: 40px 0px 0px 40px;
    @include sm {
      padding: 0px 0px;
      @include center(column);
    }
  }
}
& .dash_status {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 24px;
  /* padding: 0; */
  padding-left: 32px;
  @include borderbox;
  @include sm {
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
    // padding-left: 0px;
    // @include center(row);
  }

  & .dash_statusicon {
    @include sm {
      // background-color: red;
      width: 10%;
    }
    font-size: 2.5rem;
    color: $dark-one;
  }

  & .dash_statusdetail {
    @include flex(column);
    gap: 7px;
    @include sm {
      // background-color: red;
      width: 90%;
    }
    & .dash_statustitle {
      margin: 0px 0px;
      font-size: 1.4rem;
      font-weight: 500;
      text-align: left;
      color: $primary;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        transition: 0.3s ease-in-out;
        color: $secondary;
      }
    }
    & .dash_statusinfo {
      @include flex(row);
      @include sm {
        width: 100%;
        gap: 0px;
        justify-content: space-between;
      }
      gap: 25px;
      & .dash_statusdata {
        @include flex(row);
        align-items: center;
        gap: 10px;
        margin: 0px 0px;

        & svg {
          font-weight: 400;
          font-size: 2rem;
          color: $dark-one;
        }

        & span {
          // text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: 500;
          text-align: left;
          color: $dark-one;
        }
      }
    }
  }
}

& .dash_compose {
  @include borderbox;
  @include flex(column);
  gap: 15px;
  padding: 35px 40px 20px 40px;
  @include sm {
    padding: 0px 10px 20px 10px;
  }

  & .dash_composebtn {
    @include flex(row);
    align-items: center;
    gap: 20px;

    @include sm {
      margin-top: 20px;
      @include flex(column);

      & .arch_button {
        font-size: 1.5rem;
        width: 100%;
        padding: 0px 0px;
        height: 48px;
      }
    }
  }
}

& .dash_view {
  @include borderbox;
  @include flex(column);
  gap: 20px;
  padding: 40px 0px 20px 42px;
  @include sm {
    padding: 0px 20px 0px 20px;
  }

  & .dash_viewhead {
    @include flex(row);
    margin: 0px 0px;
    gap: 26px;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    color: $primary;
    @include sm {
      width: 100%;
      @include center(row);
    }
  }
  & .dash_viewcontent {
    width: 584px;
    @include flex(column);
    gap: 7px;
    @include sm {
      width: 100%;
    }

    & .dash_viewsubject {
      @include sm {
        text-align: center;
      }
      font-size: 1.35rem;
      color: $primary;
      font-weight: 500;
      margin: 0px 0px;
    }
    & p {
      @include sm {
        text-align: center;
      }

      margin: 0px 0px;
      font-size: 1.35rem;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      color: $dark-one;

      & span {
        color: $secondary;
        font-weight: 600;
      }
    }
  }

  & .dash_viewbtn {
    @include sm {
      @include center(row);
    }
  }
}
& .dash_viewskeleton {
  @include borderbox;
  padding: 40px 0px 0px 42px;
  @include sm {
    padding: 0px 0px;
    @include center(column);
  }
}
& .dash_archive {
  padding: 40px 44px 0px 44px;
  width: 100%;

  @include borderbox;
  @include flex(column);

  & .dash_archivehead {
    @include full-flex(center, space-between, row);
    @include borderbox;
    width: 100%;
    height: 41px;
    color: $white;
    margin-bottom: 17px;
    font-size: 1.6rem;
    font-weight: 500;
    background-color: $primary;
    padding-left: 20px;
    padding-right: 20px;
  }
  & .dash_archiveinfo {
    @include flex(column);
    & .dash_archivemap {
      & .dash_archivedetails {
        background-color: red;
        width: 100%;
        @include full-flex(center, space-between, row);

        margin-bottom: 28px;
        // gap: 61px;

        // & .dash_archiveimg {
        //   & span {
        //   }
        //   & img {
        //     width: 114.85px;
        //     height: 71px;
        //   }
        // }

        & p {
          // width: 332px;
          word-wrap: break-word;
        }
      }
    }

    & .dash_archivebtn {
      width: 100%;
      @include flex(row);
      justify-content: flex-end;
    }
  }
}
