& .forms {
  margin-top: 1.5px;
  @include flex(column);
  min-height: 1900px;
  position: relative;

  & .form_bg {
    width: 100%;
    // min-height: 1400px;
    @include sm {
      display: none;
    }

    & img {
      width: 100%;
      min-height: 1900px;
    }
  }

  & .form_child {
    @include flex(column);
    align-items: center;
    background-color: rgba(9, 80, 135, 0.82);
    height: 100%;
    width: 100%;
    position: absolute;
    @include sm {
      background-color: $white;
      position: relative;
    }
  }

  & .form_header {
    @include center(column);
    height: 85px;

    & p {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 29px;
      color: $secondary;
    }
  }

  & .form_btn {
    width: 86%;
    height: 59px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    color: $white;
    background-color: $dark;
    outline: none;
    border: none;
    transition: 0.3s ease-in-out;
    &:hover {
      transition: 0.3s ease-in-out;
      background-color: $primary;
      color: $secondary;
    }
    @include sm {
      font-size: 1.8rem;
      width: 92.5%;
    }
  }

  & .form_input {
    height: 52px;
    width: 87%;
    position: relative;
    @include sm {
      width: 92.5%;
    }

    & input {
      height: 100%;
      width: 100%;
      border-radius: 4px;
      outline: none;
      border: 1px solid $dark-two;
      background-color: $white;
      color: $dark-one;
      font-size: 1.7rem;
      @include borderbox;
      padding-right: 15px;
      padding-left: 15px;
      &:focus {
        border: 2px solid $dark-two;
      }
    }
    & .form_inputtoggle {
      position: absolute;
      top: 30%;
      left: 90%;
      transition: 0.2s;
      cursor: pointer;

      & svg {
        color: $dark-two;
        font-size: 2rem;
      }
    }
  }

  & .form_textarea {
    width: 100%;
    @include center(column);

    & textarea {
      border: 1px solid $dark-two;
      background-color: $gray;
      color: $dark-one;
      padding: 10px 10px;
      @include borderbox;
      width: 100%;
      height: 78px;
      resize: none;
      border-radius: 4px;
      border-radius: 4px;
      outline: none;
      word-wrap: break-word;
      overflow-y: hidden;
      overflow-wrap: break-word;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 20px;
      text-align: left;

      @include sm {
        background-color: $white;
      }
    }

    & label {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 13px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-one;
      position: absolute;
      margin-top: -78px;
      margin-right: 20%;
      // margin-top: -160px;
      // margin-left: -318px;

      padding-left: 7px;
      padding-right: 7px;
      background-color: $gray;
      @include sm {
        margin-right: 54%;
        background-color: $white;
      }
    }
  }
  & .form_google {
    width: 87%;
    @include center(row);
    gap: 10px;
    height: 59px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $dark-two;
    @include sm {
      width: 92.5%;
    }
    & img {
      width: 25px;
      height: 25px;
    }
    & p {
      font-weight: 500;
      font-size: 2.1rem;
      color: $dark-one;
    }
    &:hover {
      transition: 0.3s ease-in-out;

      background-color: $primary;
      & p {
        color: $secondary;
      }
    }
  }
}

// style for register page
& .register {
  margin-top: 70px;
  width: 529px;
  background-color: $gray;
  border-radius: 10px;
  padding-bottom: 20px;

  @include sm {
    width: 100%;
    background-color: $white;
    margin-top: 0px;
  }

  & .reg_fields {
    @include center(column);

    & .reg_input {
      height: 52px;
      width: 87%;
      margin-bottom: 20px;
      position: relative;
      @include sm {
        width: 92.5%;
      }
    }

    & .reg_input input {
      height: 100%;
      width: 100%;
      border-radius: 4px;
      outline: none;
      color: $dark-one;
      border: 1px solid $dark-two;
      background-color: $white;
      transition: 0.2s;
      @include borderbox;
      padding-left: 16px;
    }

    // & .reg_input input::placeholder {
    //   display: none;
    // }

    & .reg_input label {
      position: absolute;
      top: 17px;
      left: 17px;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: $dark-one;
      transition: top 0.5s;
      @include sm {
        font-size: 1.5rem;
        background-color: none;
      }
    }

    & .reg_inputtoggle {
      position: absolute;
      top: 30%;
      left: 90%;
      transition: 0.2s;
      cursor: pointer;

      & svg {
        color: $dark-two;
        font-size: 2rem;
      }
    }

    & .reg_input input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -10px;
      left: 15px;
      font-size: 1rem;
      background-color: $gray;
      pointer-events: none;
      padding: 0 5px;
      @include borderbox;
      @include sm {
        background-color: $white;
      }
    }

    & .reg_input input:not(:placeholder-shown),
    input {
      height: 45px;
      font-size: 1.6rem;
      width: 100%;
      border-radius: 4px;
      border: 2px solid $gray-two;
      background-color: $gray;
      @include sm {
        font-size: 1.5rem;
        background-color: $white;
      }
    }

    & .reg_input input:focus {
      font-size: 1.6rem;
      height: 45px;
      width: 100%;
      border-radius: 4px;
      border: 2px solid $gray-two;
      background-color: $gray;
      @include sm {
        font-size: 1.5rem;
        background-color: $white;
      }
    }
    & .reg_input input:focus ~ .reg_inputtoggle {
      top: 13px;
    }

    & .reg_input input:not(:placeholder-shown) ~ .reg_inputtoggle {
      top: 13px;
    }
    & .reg_input input::placeholder {
      color: transparent;
    }
  }

  & .reg_rolecheck {
    margin-top: -10px;
    @include center(column);

    & .reg_role {
      width: 87%;
      @include sm {
        width: 92.5%;
      }
      & .reg_roledesc {
        font-size: 1.7rem;
        font-weight: 700;
        letter-spacing: -0.02em;
        text-align: left;
        color: $primary;
        @include sm {
          font-size: 1.6rem;
        }
      }

      & .reg_rolemap {
        @include flex(column);
        & .reg_roleinput {
          @include flex(row);
          align-items: center;
          gap: 10px;
          & input {
            cursor: pointer;
            accent-color: $primary;
            width: 25px;
            height: 25px;
          }
          & input:hover {
            accent-color: $secondary;
          }
          & p {
            color: $dark-one;
            font-weight: 500;
            font-size: 1.5rem;
            @include sm {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
  & .reg_rulecheck {
    margin-top: 25px;
    width: 100%;
    @include center(column);
    & .reg_rule {
      width: 87%;
      @include sm {
        width: 92.5%;
      }
      // background-color: red;
      @include center(column);
      & .reg_ruleinput {
        width: 100%;
        @include flex(row);
        align-items: center;
        gap: 10px;
        & input {
          cursor: pointer;
          accent-color: $primary;
          width: 25px;
          height: 25px;
        }
        & input:hover {
          accent-color: $secondary;
        }
        & p {
          color: $dark-one;
          font-weight: 500;
          font-size: 1.5rem;
          @include sm {
            font-size: 1.4rem;
          }
        }

        & span {
          color: $secondary;
        }
      }
    }
  }

  & .reg_button {
    width: 100%;
    margin-top: 30px;
    @include center(column);
  }

  & .reg_signin {
    margin-top: 30px;
    // @include center(row);
    width: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    color: $dark-one;
    @include sm {
      font-size: 1.7rem;
    }
    & span {
      color: $secondary;
      margin-left: 5px;
      cursor: pointer;
      font-weight: 500;
    }
  }
}

//style for login page
& .login {
  margin-top: 70px;
  width: 529px;
  background-color: $gray;
  border-radius: 10px;
  padding-bottom: 30px;
  @include sm {
    width: 100%;
    background-color: $white;
    margin-top: 0px;
  }

  & .login_fields {
    @include center(column);
    gap: 25px;
  }

  & .login_forgot {
    @include center(row);

    p {
      margin-top: 10px;
      width: 87%;
      font-size: 1.9rem;
      font-weight: 500;
      color: $secondary;
      text-align: right;
      cursor: pointer;
      @include sm {
        width: 92.5%;
      }
      &:hover {
        color: $primary;
      }
    }
  }
  & .login_button {
    @include center(column);
    margin-top: 15px;
  }
  & .login_join {
    margin-top: 20px;
    // @include center(row);
    width: 100%;
    font-size: 1.9rem;
    font-weight: 500;
    text-align: center;
    color: $dark-one;
    @include sm {
      font-size: 1.7rem;
    }
    & a {
      color: $secondary;
      margin-left: 5px;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        color: $primary;
      }
    }
  }

  & .login_google {
    margin-top: 40px;
    @include center(column);
  }
}

//style for forgotpassword

& .forgot {
  margin-top: 70px;
  width: 529px;
  background-color: $gray;
  border-radius: 10px;
  padding-bottom: 30px;

  @include sm {
    width: 100%;
    background-color: $white;
    margin-top: 0px;
  }

  & .forgot_header {
    @include center(column);
    height: 50px;
    font-size: 2.4rem;
    font-weight: 700;
    color: $secondary;
  }

  & .forgot_desc {
    @include center(column);
    margin-top: -20px;

    & p {
      font-size: 1.7rem;
      font-style: italic;
      font-weight: 500;
      line-height: 28px;
      color: $primary;
      text-align: center;
      width: 87%;
      @include sm {
        width: 92%;
      }
    }
  }

  & .forgot_field {
    @include center(column);
  }
  & .forgot_button {
    margin-top: 35px;
    @include center(column);
  }
}

//style for new pass
& .newpass {
  margin-top: 70px;
  width: 529px;
  background-color: $gray;
  border-radius: 10px;
  padding-bottom: 30px;

  @include sm {
    width: 100%;
    background-color: $white;
    margin-top: 0px;
  }

  & .newpass_header {
    @include center(column);
    height: 50px;
    font-size: 2.4rem;
    font-weight: 700;
    color: $secondary;
  }

  & .newpass_field {
    @include center(column);
    gap: 30px;
  }
  & .newpass_button {
    margin-top: 35px;
    @include center(column);
  }
}
//style for submit
& .submit {
  margin-top: 70px;
  width: 529px;
  background-color: $gray;
  border-radius: 10px;
  padding-bottom: 30px;
  @include flex(column);
  align-items: center;

  @include sm {
    width: 100%;
    background-color: $white;
    margin-top: 0px;
  }

  & .submit_info {
    margin-bottom: 20px;
    & .submit_infotitle {
      width: 100%;
      font-size: 1.6rem;
      font-weight: 600;
      letter-spacing: 0em;
      @include center(column);
      color: $secondary;
      height: 45px;
      border-bottom: 1px solid $gray-two;

      @include sm {
        height: 35px;
        margin-top: 20px;
        border-bottom: none;
      }
    }
    & .submit_infopub {
      margin-top: 10px;
      @include center(column); // width: 100%;
      @include sm {
        margin-top: 0px;
      }
      & h1 {
        color: $dark-one;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
      }
      & p {
        width: 87%;
        color: $dark;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: justify;
        margin-top: 5px;
        @include sm {
          width: 92.5%;
        }
      }
    }

    & .submit_infocomic {
      @include center(column);
      & h1 {
        color: $primary;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        border-bottom: none;
        margin-top: 0px;
      }
      & p {
        width: 85%;
        color: $dark;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: justify;
        margin-top: 0px;
        @include sm {
          width: 92.5%;
        }
      }
    }

    & .submit_infoarch {
      @include center(column);

      & h1 {
        color: $primary;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 0px;
      }
      & p {
        margin-top: 0px;
        color: $dark;
        font-size: 1.4rem;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.02em;
        text-align: justify;
        width: 87%;
        @include sm {
          width: 92.5%;
        }
      }

      & span {
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: -0.02em;
        text-align: justify;
        color: $secondary;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }

  & .submit_select {
    width: 87%;

    margin-bottom: 20px;
    @include sm {
      width: 92.5%;
    }
    // @include center(row);
  }

  & .submit_form {
    width: 87%;
    @include flex(column);
    gap: 20px;
    @include sm {
      width: 92.5%;
    }
  }

  & .submit_btn {
    width: 100%;
    height: 59px;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 5px;
    color: $white;
    background-color: $dark;
    outline: none;
    border: none;
    transition: 0.3s ease-in-out;
    &:hover {
      transition: 0.3s ease-in-out;
      background-color: $primary;
      color: $secondary;
    }
    @include sm {
      font-size: 1.8rem;
    }
  }
}

& .submit_input {
  width: 100%;

  position: relative;
  & span {
    color: $secondary;
    position: absolute;
    right: 5%;
    margin-top: 18px;
    @include sm {
      right: 6%;
    }
  }
  & input {
    background: none;
    @include borderbox;
    outline: none;
    height: 47px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px solid $dark-two;
    color: $dark-one;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;

    &::placeholder {
      color: $dark-one;
    }
  }
}
